[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "任意のランダムな文字列に置き換えてください"
client_id = "STEP10で発行されたクライアントID"
client_secret = "STEP10で発行されたクライアントシークレット"
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"

[gcp_service_account]
# STEP4でダウンロードしたJSONファイルの中身をそのまま対応する項目に貼り付けてください
type = "service_account"
project_id = ""
private_key_id = ""
private_key = ""
client_email = ""
client_id = ""
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = ""

[sheets]
spreadsheet_id = "STEP8で控えたスプレッドシートID"

[calendar]
# gcp_service_accountのclient_emailを、変更権限つきであなたのGoogleカレンダーに共有してください
calendar_id = "あなたのGoogleアカウントのメールアドレス（カレンダーID）"
